<app-navbar></app-navbar>

<section class="landing">
  <div class="left-side">
    <div class="title-landing">
      <h1>Digital Things</h1>
    </div>
    <div class="description-landing">
      <p>Once Digital Things, Always Digital Things</p>
    </div>
    <div class="btn-shop">
      <button>SHOP NOW</button>
    </div>
  </div>
  <div class="right-side">
    <div class="circle">
      <img src="assets/images/white_laptop.png" />
      <img src="assets/images/casque.png" />
      <img src="assets/images/phone.png" />
      <img src="assets/images/camera.png" />
      <img src="assets/images/pcgamer.png" />
    </div>
  </div>
</section>
<section class="news-production-list">
  <div class="title-prod-newest">
    <h3>THE NEWEST PRODUCTS</h3>
  </div>

  <div class="product-item">
    <div class="card-product">
      <div class="img-product-item">
        <img src="{{ itemProducts[8].image }}" />
      </div>
      <div class="titl-desc-product">
        <div class="tit">
          <h5>{{ itemProducts[8].title }}</h5>
        </div>
        <div class="price">
          <h5>{{ itemProducts[8].price }}</h5>
        </div>
      </div>
      <div class="desc-product">
        <p>
          {{ itemProducts[8].description }}
        </p>
      </div>
    </div>

    <div class="card-product">
      <div class="img-product-item">
        <img src="{{ itemProducts[9].image }}" />
      </div>
      <div class="titl-desc-product">
        <div class="tit">
          <h5>{{ itemProducts[9].title }}</h5>
        </div>
        <div class="price">
          <h5>{{ itemProducts[9].price }}</h5>
        </div>
      </div>
      <div class="desc-product">
        <p>
          {{ itemProducts[9].description }}
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="{{ itemProducts[10].image }}" />
      </div>
      <div class="titl-desc-product">
        <div class="tit">
          <h5>{{ itemProducts[10].title }}</h5>
        </div>
        <div class="price">
          <h5>{{ itemProducts[10].price }}</h5>
        </div>
      </div>
      <div class="desc-product">
        <p>
          {{ itemProducts[10].description }}
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="{{ itemProducts[11].image }}" />
      </div>
      <div class="titl-desc-product">
        <div class="tit">
          <h5>{{ itemProducts[11].title }}</h5>
        </div>
        <div class="price">
          <h5>{{ itemProducts[11].price }}</h5>
        </div>
      </div>
      <div class="desc-product">
        <p>
          {{ itemProducts[11].description }}
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="{{ itemProducts[12].image }}" />
      </div>
      <div class="titl-desc-product">
        <div class="tit">
          <h5>{{ itemProducts[12].title }}</h5>
        </div>
        <div class="price">
          <h5>{{ itemProducts[12].price }}</h5>
        </div>
      </div>
      <div class="desc-product">
        <p>
          {{ itemProducts[12].description }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>COMPUTERS</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>PHONE</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>CAMERA</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
