<app-navbar></app-navbar>

<section class="landing">
  <div class="left-side">
    <div class="title-landing">
      <h1>Digital Things</h1>
    </div>
    <div class="description-landing">
      <p>Once Digital Things, Always Digital Things</p>
    </div>
    <div class="btn-shop">
      <button>SHOP NOW</button>
    </div>
  </div>
  <div class="right-side">
    <div class="circle">
      <img src="assets/images/white_laptop.png" />
      <img src="assets/images/casque.png" />
      <img src="assets/images/phone.png" />
      <img src="assets/images/camera.png" />
      <img src="assets/images/pcgamer.png" />
    </div>
  </div>
</section>
<section class="news-production-list">
  <div class="title-prod-newest">
    <h3>THE NEWEST PRODUCTS</h3>
  </div>
  <div class="product-item">
    <div class="card-product">
      <div class="img-product-item">
        <img src="assets/images/product-item-img.png" />
      </div>
      <div class="titl-desc-product">
        <div class="tit"><h5>Title</h5></div>
        <div class="price"><h5>0.00DT</h5></div>
      </div>
      <div class="desc-product">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="assets/images/product-item-img.png" />
      </div>
      <div class="titl-desc-product">
        <div class="tit"><h5>Title</h5></div>
        <div class="price"><h5>0.00DT</h5></div>
      </div>
      <div class="desc-product">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="assets/images/product-item-img.png" />
      </div>
      <div class="titl-desc-product">
        <div class="tit"><h5>Title</h5></div>
        <div class="price"><h5>0.00DT</h5></div>
      </div>
      <div class="desc-product">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="assets/images/product-item-img.png" />
      </div>
      <div class="titl-desc-product">
        <div class="tit"><h5>Title</h5></div>
        <div class="price"><h5>0.00DT</h5></div>
      </div>
      <div class="desc-product">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-product-item">
        <img src="assets/images/product-item-img.png" />
      </div>
      <div class="titl-desc-product">
        <div class="tit"><h5>Title</h5></div>
        <div class="price"><h5>0.00DT</h5></div>
      </div>
      <div class="desc-product">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>COMPUTERS</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>PHONE</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
<section class="prod">
  <div class="prod-list">
    <div class="title-category"><h3>CAMERA</h3></div>
    <div class="first-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="second-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
    <div class="third-line">
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
      <div class="card">
        <div class="img-prod">
          <img src="assets/images/product-item-img.png" />
        </div>
        <div class="title-prod"><h5>Title prod</h5></div>
        <div class="price-prod"><h5>0.00DT</h5></div>
        <div class="disc-prod"></div>
      </div>
    </div>
  </div>
</section>
